<template>
    <q-card class="my-card bg-white">
      <q-card-section class="bg-primary text-white text-h6">
        <div>Regulamin</div>
        <div>2020/2021</div>
      </q-card-section>
      <q-card-section class="text-black">
        <h5>Organizator</h5>
        <div>Organizatorem Turnieju jest Hufiec ZHP Radom-Miasto.</div>
        <h5>Uczestnicy</h5>
        <div>Uczestnikiem Turnieju jest każda drużyna lub gromada działająca w Hufcu ZHP Radom-Miasto, która spełnia "Wymagania Podstawowe”.</div>
        <h5>Terminy</h5>
        <div>Turniej rozpoczyna się 01.09.2019 Podsumowanie nastąpi w trakcie 57. Harcerskiego Rajdu Radomskiego.</div>
        <h5>Cele</h5>
        <div>Gra ma umożliwić:</div>
        <ul>
          <li>rozwój pracy gromad i drużyn zgodnie z metodą harcerską oraz odpowiednią metodyką</li>
          <li>systematyczne działania, mające na celu odpowiadanie na bieżące potrzeby kadry drużyn/gromad</li>
          <li>rozwój współpracy między kadrą drużyn/gromad a komendą hufca i namiestnictwami</li>
          <li>nagrodzenie drużyn oraz gromad za wysiłek i wszelkie zrealizowane aktywności podczas roku harcerskiego</li>
        </ul>
        <h5>Nagrody</h5>
        <div>Każdy z uczestników ma możliwość zdobycia tytułu dla swojej jednostki. Są to odpowiednio:</div>
        <ul>
          <li>tytuł Złotej Drużyny/Gromady</li>
          <li>tytuł Srebrnej Drużyny/Gromady</li>
          <li>tytuł Brązowej Drużyny/Gromady</li>
        </ul>
        <div>
          Tytuły towarzyszyć będą ich zdobywcom podczas roku harcerskiego 2021/2022.
        </div>
        <div>
          Organizator przewiduje również nagrody rzeczowe.
        </div>
        <h5>Opis turnieju</h5>
        <div>Celem każdego z uczestników jest zdobycie jak największej liczby punktów.</div>
        <div>Punkty przyznawane są przez komendę hufca i namiestników za wszelkie aktywności drużyny/gromady na podstawie tabeli zadań. Aktywności, które nie zostały zawarte w tabeli również mogą zostać ocenione i nagrodzone dodatkowymi punktami.</div>
        <div>Przyznawanie punktów odbywa się:</div>
        <ul>
          <li>na początku każdego miesiąca, na podstawie regularnie dostarczanej dokumentacji drużyny/gromady (meldunki oraz rozkazy) oraz ewentualnych mediów społecznościowych uczestnika (dotyczy tylko wybranych punktów)</li>
          <li>podczas spotkań namiestnika danego pionu z kadrą drużyn/gromad, odbywających się średnio co dwa miesiące, podczas których drużynowi przedstawiają podsumowanie działań swojej jednostki (z okresu dwóch ostatnich miesięcy)</li>
        </ul>
        <div>Narzędziem, służącym do rejestrowania postępów uczestników jest gra internetowa. Zawiera ona historię przyznawanych punktów oraz aktualne położenie uczestnika na drodze ku zdobyciu tytułu.</div>
        <h5>Kontakt</h5>
        <div>W razie wątpliwości dotyczących przebiegu Turnieju uczestnik kontaktuje się ze swoim namiestnikiem.</div>
      </q-card-section>
    </q-card>
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "StatuteDialog",
  data() {
    return {
      img: "https://radom.zhp.pl/moja-druzyna/images/identyfikator_hufca.svg",
    };
  },
});
</script>
<style lang="scss">

</style>
