<template>
  <q-page class="flex flex-center">
    <RadarChart :chartData="testData" />
  </q-page>
</template>

<script>
import { Chart, registerables } from "chart.js";
import { RadarChart } from "vue-chart-3";
import { defineComponent } from "vue";
import json from "../assets/json.json";
Chart.register(...registerables);
export default defineComponent({
  name: "PageIndex",
  components: { RadarChart },
  setup() {
    const testData = {
      labels: ["Paris", "Nîmes", "Toulon", "Perpignan", "Autre"],
      datasets: [
        {
          data: [30, 40, 60, 70, 5],
          backgroundColor: [
            "#77CEFF",
            "#0079AF",
            "#123E6B",
            "#97B0C4",
            "#A5C8ED",
          ],
        },
      ],
    };

    return { testData };
  },
});
</script>
