<template>
  <q-page>
    <div class="row q-pa-lg justify-center q-gutter-sm">
      <q-card class="my-card" @click="isDialogShowed = true">
        <q-card-section class="bg-primary text-white text-h6">
          <div>Regulamin</div>
          <div>2020/2021</div>
        </q-card-section>
        <q-card-section class="bg-white justify-center flex">
          <q-img class="zhp-logo" :src="img" />
        </q-card-section>
        <q-card-section class="bg-white justify-center flex">
          <div>Jestes zalogowany jako...</div>
        </q-card-section>
      </q-card>
      <q-btn class="btn-primary">Wyloguj się</q-btn>
      <q-dialog v-model="isDialogShowed">
        <statuteDialog></statuteDialog>
      </q-dialog>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import statuteDialog from "../components/info/StatuteDialog.vue";
export default defineComponent({
  name: "Info",
  data() {
    return {
      isDialogShowed: false,
      img: "https://radom.zhp.pl/moja-druzyna/images/identyfikator_hufca.svg",
    };
  },
  components: {
    statuteDialog: statuteDialog,
  },
});
</script>
<style lang="scss">
.my-card {
  width: 100%;
}
.zhp-logo {
  width: 250px;
}
li::first-letter {
  text-transform: uppercase;
}
</style>
