<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-avatar >
          <q-img :src="img"/>
        </q-avatar>
        <q-toolbar-title>Moja Drużyna</q-toolbar-title>
        <q-item>
          <q-chip>
            <q-avatar color="green" text-color="white">50</q-avatar>
            pkt
          </q-chip>
        </q-item>
      </q-toolbar>

      <q-tabs v-model="tab" inline-label align="left" class="text-white desktop-only" >
        <q-route-tab v-ripple v-for="(nav,index) in navs" exect :key="index" :to="nav.to" :icon="nav.icon" :label="nav.label" :name="nav.label"></q-route-tab>
      </q-tabs>
    </q-header>
    <q-footer  >
        <q-tabs v-model="tab" dense align="center" class="text-white mobile-only">
          <q-route-tab v-ripple v-for="(nav,index) in navs" exect :key="index"  :to="nav.to" :icon="nav.icon" :label="nav.label" :name="nav.label"></q-route-tab>
        </q-tabs>
    </q-footer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { date } from 'quasar'

export default {
  name: 'MainLayout',
  data () {
    return {
      img:"https://radom.zhp.pl/moja-druzyna/icon_144x144.46dfed32b440fdf8645090e02392f2a8.png",
      leftDrawerOpen: false,
      tab: 'home',
      value:70,
      rightListOpen:false,
      navs:[
        {label:'Wyniki', icon:'assessment', to:'/'},
        {label:'Zadania', icon:'view_list', to:'/zadania'},
        {label:'Informacje', icon:'info', to:'/informacja'},
      ]
    }
  },
  computed:{
    todaysDate(){
      let timeStamp = Date.now()
      return date.formatDate(timeStamp, 'DD.MM.YYYY')
    },
  },
  watch: {
    '$route':function () {
      console.log(this.$router.currentRoute)
    }
  },

}
</script>
<style type="scss">
.header-image{
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  filter: grayscale(100%);
}

</style>
